.mouseCursor {
  width: 16px;
  height: 16px;
  background: yellow;
  border-radius: 50%;
  position: fixed;
  transform: translate(0, 0);
  transition: 0.2s width ease-in-out, 0.2s height ease-in-out,
    0.2s top ease-in-out, 0.2s left ease-in-out,
    0.2s background ease-in-out;
  pointer-events: none;
  z-index: 100;
}
#hover {
  width: 32px;
  height: 32px;
  background: rgba(179, 255, 65, 0.5);
  top: -16px;
  left: -16px;
}
